.body-container {
    display: flex;
    height:100%;
    width:100%;
}

h1 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.changepassword-form {
    height: 100%;
    width: 40%;
    margin: 100px 0px 0px 200px;
}

.changepassword-form-input {
    display: flex;
    flex-direction: column;
    width: 580px;
}

.label-container {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.submit-button {
    width: 580px;
}

.changepassword-art-container {
    height: 100%;
    border-left: 550px solid #AFB3FF;
    position: absolute;
    right: 0px;
}

.changepassword-art-container img {
    /* height: 509.97px;
    width: 379.31px; */
    height:662.961px;
    width: 493.103px;
    position: absolute;
    right: 350px;
    top:200px;
}
