

.body-container{
    display: flex;
    position: relative; 

}

.form-container{   
    margin: 150px;
    width: 40%;
    position: absolute;
    top: -100px;

}
.login-form-input{

width: 580px;
display: flex;
flex-direction: column;


}
h1{
    margin: 50px 0px;
}
.submit-button {
    width: 580px;
}
 .title img{
    width: 350px;
 margin-bottom: 30px;
    margin-left: 80px;
}
.art img{
    position: absolute;
    width: 850px;
    right: 100px;
    top: 10px;
}
.purpleBlock{
    height: 100%;
    border-left:550px solid #AFB3FF ;
    position: absolute;
    right: 0px;
}
.stick img{
    position: absolute;
    width: 350px;
    left: 0px;
    bottom: 0px;
}