/* FONTS */
@font-face {
  font-family: 'UniSansRegular';
  src: url(../fonts/UniSansRegular.otf);
}

@font-face {
  font-family: 'UniSansHeavy';
  src: url(../fonts/UniSansHeavy.otf);
}

@font-face {
  font-family: 'UniSansBold';
  src: url(../fonts/UniSansBold.otf);
}

@font-face {
  font-family: 'UniSansSemiBoldItalic';
  src: url(../fonts/UniSansSemiBoldItalic.otf);
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #B6FFCE;
}

li {
  list-style: none;
}

h1 {
  font-family: 'UniSansHeavy', sans-serif;
  color: #EBEFFF;
  font-size: 45px;
}

h2 {
  font-family: 'UniSansHeavy', sans-serif;
  color: #EBEFFF;
  font-size: 22px;
  letter-spacing: 1px;
}

body {
  background-color: #454665;
}

label {
  font-family: 'UniSansBold', sans-serif;
  color: #EBEFFF;
  font-size: 22px;
  letter-spacing: 1px;
}

input {
  background-color: #3A3D56;
  color: #EBEFFF;
  height: 50px;
  font-family: 'UniSansRegular', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

label:hover {
  border: none;
}

input:hover,
textarea:hover {
  border: 2px solid #656ED3;
}

input:focus,
textarea:focus {
  border: 2px solid #656ED3;
}

.submit-button {
  background-color: #656ED3;
  color: #EBEFFF;
  height: 50px;
  font-family: 'UniSansHeavy', sans-serif;
  font-size: 22px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.submit-button:hover {
  border: 2px solid #454665;
}

.form-error {
  color: #FFA8A8;
  font-size: 20px;
  font-family: 'UniSansSemiBoldItalic', sans-serif;
  letter-spacing: 1px;
}