<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/changepassword.css">
    <title>Change Password | CDS</title>
</head>

<body>
    <div class="body-container">
        <!-- <div class="stick-art-container">
            <img src="/img/changepassword/stick-art.png" alt="stick-art">
        </div> -->
        <div class="changepassword-form">
            <h1>SET NEW PASSWORD</h1>
            <form id="changepasswordform" action="/register" method="post">
                <div class="changepassword-form-input">
                    <div class="label-container" id="labelcontaineroldpassword">
                        <div><label for="oldpassword">OLD PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="text" name="oldpassword" id="oldpassword">
                </div>
                <div class="changepassword-form-input">
                    <div class="label-container" id="labelcontainernewpassword">
                        <div><label for="newpassword">NEW PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="text" name="newpassword" id="newpassword">
                </div>
                <div class="changepassword-form-input">
                    <div class="label-container" id="labelcontainerconfirmpassword">
                        <div><label for="confirmpassword">CONFIRM PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="text" name="confirmpassword" id="confirmpassword">
                </div>
                <div>
                    <button type="submit" class="submit-button">SUBMIT PASSWORD</button>
                </div>
            </form>
            <!-- 
                TODO: 
                previously ayush told that change password functionality is only
                available through dashboard, so confirm if the href should redirect to
                dashboard or not 
            -->
            <h2><a href="/">GO BACK?</a></h2>
        </div>
        <div class="changepassword-art-container">
            <img src="/img/changepassword/changepassword-art.png" alt="changepassword-art">
        </div>
    </div>
    <script src="/js/changepassword.js"></script>
</body>

</html>