<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login | CDS</title>
</head>

<body>
    <div class="body-container">
        <div class="form-container">
            <div class="title">
                <img src="/img/login/Title.png" alt="Crypto Donation System">
            </div>
            <form id="loginform" action="/login" method="post">
                <div class="login-form-input">
                    <div class="label-container" id="labelcontainerusername">
                        <div><label for="email">EMAIL</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="text" name="email" id="email" autocomplete="off" autofocus="on">
                </div>
                <div class="login-form-input">
                    <div class="label-container" id="labelcontainerpassword">
                        <div><label for="password">PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="password" name="password" id="password">
                    <div>
                        <button type="submit" class="submit-button">LOGIN</button>
                    </div>
                </div>
            </form>
            <h2>DON'T HAVE AN ACCOUNT? <a href="/register">REGISTER</a></h2>
        </div>
        <div class="art-container">
            <img src="/img/login/Computer.png" alt="Computer">
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>