<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registration | CDS</title>
</head>

<body>
    <div class="body-container">
        <div class="art-container">
            <img src="/img/register/registration-art.png" alt="registration-art">
        </div>
        <div class="registration-form">
            <h1>FILL OUT FORM TO REGISTER!</h1>
            <form id="registrationform" action="/register" method="post">
                <div class="registration-form-input">
                    <div><label for="fullname">FULL NAME</label></div>
                    <input type="text" name="fullname" id="fullname">
                </div>
                <div class="registration-form-input">
                    <div class="label-container">
                        <div><label for="walletid">WALLET ID</label></div>
                        <div class="form-error">* WRONG</div>
                    </div>
                    <input type="text" name="walletid" id="walletid">
                </div>
                <div class="registration-form-input">
                    <div class="label-container">
                        <div><label for="email">EMAIL</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="email" name="email" id="email">
                </div>
                <div class="registration-form-input">
                    <div class="label-container">
                        <div><label for="password">PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="password" name="password" id="password">
                </div>
                <div class="registration-form-input">
                    <div class="label-container">
                        <div><label for="confirmpassword">CONFIRM PASSWORD</label></div>
                        <div class="form-error"></div>
                    </div>
                    <input type="password" name="confirmpassword" id="confirmpassword">
                </div>
                <div>
                    <button type="submit" class="submit-button">REGISTER</button>
                </div>
            </form>
            <h2>ALREADY HAVE AN ACCOUNT? <a href="">LOGIN</a></h2>
        </div>
    </div>
    <script src="/js/register.js"></script>
</body>

</html>